# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables
.env

# Locust reports
reports/
*.html
*.csv

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db